.bookmark {
    background-image: url('../img/bookmark-card.svg');
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-top: 7.246vw;
    margin-left: -70.5vw;
    width: 51.932vw;
    min-height: 7.156vw;
    position: relative;
    font-family: Jost, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4.348vw;
    padding: 6.039vw 6.039vw 6.039vw 12.077vw;
    z-index: 2;
}

.bookmark.open {
    animation: openBookmark 0.3s ease-out forwards;
}

.bookmark.close {
    animation: closeBookmark 0.3s ease-out forwards;
}

@keyframes openBookmark {
    from {
    }
    to {
        margin-left: -7.246vw;
    }
}

@keyframes closeBookmark {
    from {
        margin-left: -7.246vw;
    }
    to {
        margin-left: -70.5vw;
    }
}

.bookmark .handle {
    background-image: url('../img/bookmark.svg');
    background-position: top right;
    width: 16.906vw;
    height: 12.077vw;
    position: absolute;
    right: -16.6vw;
    top: 3.579vw;
    background-size: auto 100%;
}


.bookmark .title {
    background-image: url('../img/bubble-title.svg');
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: absolute;
    left: 2.666vw;
    top: -4vw;
    padding: 1.333vw 2.666vw;
    color: #fff;
    text-transform: uppercase;
}